.flex {
	display: flex;
	margin-top: 12%;
}

@media screen and (max-width: 780px) {
	.flex {
		flex-direction: column;
	}
}

.main {
	width: 100%;
}

.hdcard {
	margin-top: 10%;
	text-align: center;
}

.hdcard .card-body {
	border-radius: 5px;
	display: inline-block;
	background: linear-gradient(to left, #4e4376, #2b5876);
	color: #fff;
}

.btcard {
	background-color: #adc5d9;
	border-radius: 5px;
	margin: auto;
}
.bttn {
	padding: 10px !important;
	width: 50px !important;
	font-size: 15px !important;
}
