body {
	/* background-color: ; */
}

.item {
	color: white !important;
}
.navbar {
	/* background-color: indianred !important; */
	background-color: blueviolet !important;
	opacity: 0.85;
}

.search {
	color: white;
}
.search:hover {
	color: indianred;
}

.navbar-nav a {
	display: inline-block;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
}
.navbar-nav a:hover {
	color: indianred;
	border-bottom: 1px solid rgb(255, 255, 255);
}
.item:hover {
	color: indianred !important;
}
.first {
	background-image: url("../assets/img/library.png");
	background-position-x: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 0;
	height: 750px;
}
.first-position {
	position: relative;

	text-align: center;
	top: 300px;
}
.first-tag {
	color: #070707;
	font-size: 36px;
	font-weight: bolder;
}
.second-tag {
	color: #070707;
	font-size: 36px;
	font-weight: bolder;
}

.blank {
	height: 10vh;
}
#features {
    margin-bottom: 10vh;
    /* padding: 3% 10%; */
    background-color: blueviolet;
    position: relative;
    z-index: 1;
    width: 100vw;
    margin-top: 10vh;
	border-right: solid;
}
h2 {
    color: white;
    text-transform: uppercase;
    margin-top: inherit;
}
h3,
p {
	color: rgb(8, 8, 8);
}
.feature-box {
	text-align: center;
	margin: 5px;
	padding-top: 2% !important;
	background-color: white;
}
.icon {
	margin-bottom: 1rem;
	color: #0a0a0a;
}
.icon:hover {
	color: #e94961;
}
.navbar .btn {
	background-color: black;
}

.row {
    margin-top: 5vh;;
}

@media (max-width:900px) {
	.navItem{
		padding-left: 0 !important;
	}
	
}
