.pagination-outer {
	text-align: center;
}
.pagination {
	font-family: 'Ubuntu', sans-serif;
	padding: 12px;
	display: inline-flex;
	position: relative;
	/* border: 1px solid #ccc;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2) inset; */
	background: linear-gradient(to right, #fff, rgba(0, 0, 0, 0.075), rgba(0, 0, 0, 0.075), white);
}
.pagination li a.page-link {
	color: #999;
	background: linear-gradient(#fff, #eee);
	font-size: 22px;
	font-weight: 400;
	line-height: 35px;
	height: 36px;
	width: 36px;
	padding: 0;
	margin: 0 5px;
	border: none;
	border-radius: 5px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	transition: all 0.3s ease 0s;
}
.pagination li a.page-link:hover,
.pagination li a.page-link:focus,
.pagination li.active a.page-link:hover,
.pagination li.active a.page-link {
	color: #fff;
	background: linear-gradient(to right, #4e4376, #2b5876);
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.pagination li:first-child a.page-link,
.pagination li:last-child a.page-link {
	font-size: 16px;
	width: auto;
	padding: 0 10px;
}

.pagination .page-item {
	margin-left: 2vw;
	margin-right: 2vw;
}

.pagination ul {
	margin-bottom: 0;
}

@media only screen and (max-width: 480px) {
	.pagination {
		font-size: 0;
		display: inline-block;
	}
	.pagination li {
		display: inline-block;
		vertical-align: top;
		margin: 5px 0;
	}
}
