.mid {
	/* display: flex; */
	/* justify-content: center; */
	/* flex-direction: row-reverse; */
	width: 80vw;
	margin: 0 10% 0 10%;
}

.req {
	/* right: 0; */
	text-align: center;
	border-collapse: collapse;
}

.req .btn-primary {
	color: #fff;
	/* background-color: #0d6efd; */
	background: linear-gradient(to right, #4e4376, #2b5876);
	border-color: var(--light-blue);
}

.req td,
.req th {
	padding: 8px;
}

.thd {
	background: linear-gradient(to right, #4e4376, #2b5876);
}

.req th {
	padding-top: 12px;
	padding-bottom: 12px;
	color: white;
}

.modal .header {
	background: linear-gradient(to right, #4e4376, #2b5876);
}

.modal .header h5 {
	color: white;
}

.modal-body h5 b {
	color: var(--dark-blue);
}

/* .modal .footer {
	justify-content: space-between;
}
.modal .header {
	background: linear-gradient(to right, #4e4376, #2b5876);
	text-align: center;
	display: block;
}
.modal h5 u {
	color: var(--dark-blue);
}
.modal-body h5 {
	display: flex;
	justify-content: space-between;
} 
.mdc {
	width: 120%;
}

*/

.flex {
	display: flex;
}
.cntnt-cntr {
	justify-content: center;
}
.mid .lbl {
	text-align: center;
	margin-bottom: 5%;
	margin-top: 5%;
	font-size: 35px;
	font-weight: bold;
	color: var(--dark-blue);
}
