.mid {
	display: flex;
	/* justify-content: center; */
	flex-direction: row-reverse;
	width: 95vw;
	margin: 10% 0 10% 2%;
}

.req {
	width: 80%;
	/* right: 0; */
	text-align: center;
	border-collapse: collapse;
}

.req td,
.req th {
	border: 1px solid black;
	padding: 8px;
}

.req th {
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: blueviolet;
	color: white;
}

.modal .grn {
	background-color: #21d94c;
}

.modal .rd {
	background-color: red;
}
.modal .orng {
	background-color: orange;
}
.modal .footer {
	justify-content: space-between;
}

.flex {
	display: flex;
}
.cntnt-cntr {
	justify-content: center;
}

.modal .header {
	margin: auto;
	background-color: blueviolet;
	color: white;
	width: 100%;
	text-align: center;
	display: block;
}
.modal h5 u {
	color: blueviolet;
}
.modal-body h5 {
	display: flex;
	justify-content: space-between;
}
.mdc {
	width: 120%;
}
